<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashboard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".fragments.FiveFragment"></activity>
        <activity android:name=".fragments.FourFragment" />
        <activity android:name=".fragments.ThreeFragment" />
        <activity android:name=".fragments.TwoFragment" />
        <activity android:name=".activity.ScrollableTabsActivity" />
        <activity android:name=".menudua" />
        <activity android:name=".VertebrateActivity" />
        <activity
            android:name=".activity.menusatu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".WhatisAnimal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>